<h2><a href="{permalink}">{date}</a> - {title}</h2>
<span>Posted at {time} under {tags}.</span>

<div>
{text}
</div>

<a href="javascript:void(0)" onclick="document.getElementById('comments').style.display='block'">{numcomments} comments</a>
<div id="comments" style="display:none">
{comments}
<form method="POST" action="../../comment.py?id={postid}">
<input type="text" name="username" value="Name goes here."/><br>
<textarea name="comment">Words go here.</textarea><br><br>
<img src="/captcha.png"><br>
<input type="text" name="captcha" value="Prove you aren't a robot here." /><br>
<input type="submit" value="Post" /><br>
</form>
</div>

<span style="float:left; /*prevhide*/"><a href="{previous}">< Previous</a></span>
<span style="float:right; /*nexthide*/"><a href="{next}">Next ></a></span>
<p style="text-align:center"><b><a href="../../search.py">Archives</a></b></p>

</body>
</html>
