<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>

  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>Blag search</title>
  <link rel="stylesheet" href="http://www.rockym93.net/style.css" 
type="text/css">
  <link href="atom.xml" type="application/atom+xml" rel="alternate" 
title="Rocky's Blag - Atom Feed">
   </head>
  <body>

<span class="header"><img id="titlepic" alt="rockym93.net" 
src="/blag.png">
<br>
<span class="links">
<a class="navlink" href="http://www.rockym93.net/index.shtml">Home</a>&nbsp;
<a class="navlink" href="http://www.rockym93.net/about.shtml">About</a>&nbsp;
<a class="navlink" href="http://www.rockym93.net/writing/">Writing</a>&nbsp;
<a class="navlink" id="currentpage" href="http://blog.rockym93.net/">Blag</a>&nbsp;
<a class="navlink" href="http://www.rockym93.net/projects/">Projects</a>&nbsp;
</span>

<div class="main">
	<span class="rightlinks">
		<a href="search.py">archive</a> 
		&middot; 
		<a href="search.py?tag=all">tags</a> 
		&middot; 
		<a href="atom.xml">feed</a></span>
	<h3 style="font-weight:normal;">Search the archive</h3>
</div> 
<div><br></div>
<div class="main">
<form name="search" action="search.py" method="GET" class="bodytext">
search for <input type="text" name="for" style="margin-left:auto; margin-right:auto;" >
 in <input type="radio" name="in" value="tags"> tags 
 <input type="radio" name="in" value="commenters"> commenters 
 <input type="radio" name="in" value="title"> titles
 </div>
 <div><br></div>
 <div class="main">
<div class="bodytext">
#SEARCHRESULTS
</div></div>
<span class="quote">&copy; Rockwell McGellin
<!-- Hello there. You're reading my source code. How's it hanging? -->
</span>
</span>
</body></html>
